public/workflow code send for client.json
{
  "name": "send_client",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Social Media Content Generator",
        "formDescription": "Generate and publish content across Instagram, LinkedIn, and Facebook",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Topic",
              "placeholder": "Enter your post topic here",
              "requiredField": true
            },
            {
              "fieldLabel": "Keywords or Hashtags (optional)",
              "placeholder": "Include specific keywords or hashtags for your campaign"
            },
            {
              "fieldLabel": "Link (Optional)",
              "placeholder": "URL to include in your post"
            }
          ]
        },
        "options": {
          "buttonLabel": "Generate & Publish Content"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -480,
        304
      ],
      "id": "222f82b1-4435-4b40-b5cd-69f6b1c7ba45",
      "name": "Content Form Trigger",
      "webhookId": "e0c0f48e-218a-4428-8a8d-cc97231ad5f3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a content creation AI for SterkWeb.com, specializing in **Business AI Automation, SEO, web design/development, and content writing services**.\n\nCreate engaging, platform-specific content for **LinkedIn, Instagram, and Facebook**. Each post must align with platform preferences while reflecting SterkWeb.com's expertise.\n\n### Core Objectives:\n1. **Platform Optimization**: Tailor content format, tone, and hashtags for each platform\n2. **SEO & Hashtags**: Mix general automation hashtags with trending platform-specific ones\n3. **Engagement Focus**: Create content that sparks interaction through tutorials, insights, and discussions\n4. **Professional Tone**: Maintain approachable yet professional voice\n\n### General Hashtags:\n#sterkweb #aiautomation #jitendraaiautomation #seo #website #localbusiness #google #digitalmarketing\n\n### Platform Guidelines:\n\n#### LinkedIn\n- **Style**: Professional and insightful\n- **Tone**: Business-focused with automation use cases\n- **Length**: 3-4 sentences, detailed yet concise\n- **Hashtags**: #contentcreation #Automation #WorkflowSolutions #DigitalTransformation #digitalmarketing\n- **CTA**: Encourage website visits or professional engagement\n\n#### Instagram  \n- **Style**: Visual storytelling with creative captions\n- **Tone**: Inspirational with emojis for relatability\n- **Length**: 2-3 sentences with visual focus\n- **Hashtags**: #AutomationLife #TechInnovation #WorkflowTips #digitalmarketing #seo #jitendraaiautomation\n- **CTA**: Use \"Swipe to learn more\" or \"Check link below\"\n- **Link**: Add provided link before hashtags, or use \"Visit: https://sterkweb.com\"\n\n#### Facebook\n- **Style**: Community-focused and friendly\n- **Tone**: Relatable with success stories\n- **Length**: 2-3 sentences, conversational\n- **Hashtags**: #SmallBusinessAutomation #Entrepreneurship #digitalmarketing #WorkflowInnovation #aiautomation\n- **CTA**: Encourage likes, shares, comments\n\n### Input Data:\n- Topic: {{ $json.Topic }}\n- Keywords: {{ $json['Keywords or Hashtags (optional)'] }}\n- Link: {{ $json['Link (Optional)'] }}\n\nRespond with valid JSON matching the provided schema exactly.\n\nYou are an expert assistant with deep knowledge across multiple domains. Whenever I ask you something, give me a comprehensive, well-structured, and detailed explanation. Your answer should be long, covering definitions, concepts, step-by-step explanations, practical examples, pros and cons, and real-world use cases. If the topic is technical, explain in a way that is easy to understand for beginners but also insightful for advanced learners. Always make sure your response feels like a complete guide that leaves no confusion.\"",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "Respond ONLY with valid JSON matching this schema:\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": { \"type\": \"string\" },\n    \"description\": { \"type\": \"string\" },\n    \"platform_posts\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"LinkedIn\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"image_suggestion\": { \"type\": \"string\" },\n            \"post\": { \"type\": \"string\" },\n            \"hashtags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n            \"call_to_action\": { \"type\": \"string\" }\n          }\n        },\n        \"Instagram\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"image_suggestion\": { \"type\": \"string\" },\n            \"caption\": { \"type\": \"string\" },\n            \"hashtags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n            \"emojis\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n            \"call_to_action\": { \"type\": \"string\" }\n          }\n        },\n        \"Facebook\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"post\": { \"type\": \"string\" },\n            \"hashtags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n            \"call_to_action\": { \"type\": \"string\" },\n            \"image_suggestion\": { \"type\": \"string\" }\n          }\n        }\n      }\n    },\n    \"additional_notes\": { \"type\": \"string\" }\n  }\n}\n\nNo explanations, comments, or markdown formatting - JSON only."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -128,
        304
      ],
      "id": "c8bd12ac-11b8-44c6-a07a-8d19e8967787",
      "name": "Social Media Content Generator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -176,
        496
      ],
      "id": "345b6bdd-e1ae-4128-a735-7629e1098b6e",
      "name": "OpenAI GPT-4",
      "credentials": {
        "openAiApi": {
          "id": "gLyEnydogLZolRXX",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": { \"type\": \"string\" },\n    \"description\": { \"type\": \"string\" },\n    \"platform_posts\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"LinkedIn\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"image_suggestion\": { \"type\": \"string\" },\n            \"post\": { \"type\": \"string\" },\n            \"hashtags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n            \"call_to_action\": { \"type\": \"string\" }\n          }\n        },\n        \"Instagram\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"image_suggestion\": { \"type\": \"string\" },\n            \"caption\": { \"type\": \"string\" },\n            \"hashtags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n            \"emojis\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n            \"call_to_action\": { \"type\": \"string\" }\n          }\n        },\n        \"Facebook\": {\n          \"type\": \"object\",\n          \"properties\": {\n            \"post\": { \"type\": \"string\" },\n            \"hashtags\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n            \"call_to_action\": { \"type\": \"string\" },\n            \"image_suggestion\": { \"type\": \"string\" }\n          }\n        }\n      }\n    },\n    \"additional_notes\": { \"type\": \"string\" }\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        32,
        480
      ],
      "id": "af007446-ba2d-4221-83c9-ea9fb226bba6",
      "name": "JSON Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Create a professional visual prompt for image generation based on this LinkedIn post:\n\n{{ $json.output.platform_posts.LinkedIn.post }}\n\nGenerate a modern, marketing-style graphic prompt suitable for professional social media. Focus on:\n- Clean, minimalist design\n- Professional color schemes\n- Relevant visual metaphors\n- Brand-appropriate aesthetics\n\nOutput only the image prompt text - no explanations or formatting.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        336,
        304
      ],
      "id": "a180c14d-8be0-4267-9067-24ca370fb631",
      "name": "Image Prompt Creator"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        544,
        544
      ],
      "id": "5b05103e-b4a3-4e88-9144-887c435aa5f3",
      "name": "OpenAI GPT-4 Mini",
      "credentials": {
        "openAiApi": {
          "id": "gLyEnydogLZolRXX",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate clean HTML email content from this JSON data:\n\n{{ $json.output.toJsonString() }}\n\nCreate a professional email review with:\n- Table-based layout with inline CSS\n- Platform cards showing posts, hashtags, and CTAs\n- 600px max-width container\n- Email-safe colors and fonts\n- All platform content clearly displayed\n\nOutput only raw HTML - no code blocks or explanations.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        912,
        304
      ],
      "id": "63c21909-2532-4f84-a2b2-92b7131fe5c5",
      "name": "Review Email Generator"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "subject": "🔥 REVIEW & APPROVE 🔥 {{ $('Social Media Content Generator').item.json.output.name }}",
        "message": "={{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {
          "limitWaitTime": {
            "values": {
              "resumeAmount": 30,
              "resumeUnit": "minutes"
            }
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1504,
        496
      ],
      "id": "b37c078d-1fa1-4243-9544-f6790890536c",
      "name": "Send Approval Email",
      "webhookId": "b64b895b-d60e-4b08-abde-9b31de452d74",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0i1AKACO6rBGCA2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "approval-check",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "b7bfe3e6-e81a-484f-a20d-180ab65b90a6",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -208,
        992
      ],
      "id": "7ddb28bf-5ca4-45b6-8b12-1430443701b1",
      "name": "Check Approval"
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $('Image Prompt Creator').item.json.output }}",
        "options": {
          "returnImageUrls": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        16,
        976
      ],
      "id": "05303557-c8b6-4dc0-b759-54658fbd33d8",
      "name": "Generate Image",
      "credentials": {
        "openAiApi": {
          "id": "gLyEnydogLZolRXX",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/17841475983476631/media_publish",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "creation_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "access_token",
              "value": "EAAmkdLMjJZAcBPqmk6X3FYuBcjwGU7lWGIftQmNJ2QjFQGjJ1Iqf3KZAEZAyZAflgCXZCZBLCZChtoBrHYSOiKKZAJJPzXNUaowYoZC7iA3GwxQ9ToTNkZAL3dZBZCKVkPoRpJpSffWUIzLmopw4ffM1zJvs8KmndaGKj7OjF0eHjr7QBjRaYiJSD4TGmrBUTKVDmtRGaLiRNazSoKGRWFRZAcD7Bt0Tu"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        864
      ],
      "id": "cd4a5177-0d72-4036-ba51-7e9e0c4a57ae",
      "name": "Publish Instagram Post",
      "credentials": {
        "facebookGraphApi": {
          "id": "WueQJtgndYW0ffds",
          "name": "client Facebook Graph"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/793286663867636/photos",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "={{ $('Social Media Content Generator').item.json.output.platform_posts.Facebook.post }}\n\n{{ $('Social Media Content Generator').item.json.output.platform_posts.Facebook.call_to_action }}\n{{ $('Content Form Trigger').item.json['Link (Optional)'] || 'https://sterkweb.com' }}\n\n{{ $('Social Media Content Generator').item.json.output.platform_posts.Facebook.hashtags.join(' ') }}"
            },
            {
              "name": "url",
              "value": "={{ $json.secure_url }}"
            },
            {
              "name": "access_token",
              "value": "Enter your facebook access_token"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1184,
        1072
      ],
      "id": "808acf6f-0624-404c-91fc-ef8c9009460f",
      "name": "Post to Facebook",
      "credentials": {
        "facebookGraphApi": {
          "id": "45sV18IF46rBTRyZ",
          "name": "instagram11"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1888,
        1888
      ],
      "id": "ee41a4fb-6282-433d-a0ca-da12eff0c722",
      "name": "Merge All Results",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -112,
        1552
      ],
      "id": "83db77fc-bd5b-4bb8-a432-337f0d50c5dd",
      "name": "Aggregate Results"
    },
    {
      "parameters": {
        "subject": "✅ SOCIAL MEDIA AUTOMATION RESULTS",
        "message": "=Your social media posts have been published!\n\nResults Summary:\n{{ $json.output }}\n\nGenerated content has been posted to Instagram, Facebook, and LinkedIn.",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        1456
      ],
      "id": "8c48eb48-65ec-4982-836c-385c314d0b6b",
      "name": "Send Results Email",
      "webhookId": "39af92ff-4b0c-470f-9f27-75374be8670d",
      "credentials": {
        "gmailOAuth2": {
          "id": "P0i1AKACO6rBGCA2",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "=8104272555",
        "text": "=🎉 Social Media Automation Complete!\n\n📱 Posts published to:\n✅ Instagram\n✅ Facebook  \n✅ LinkedIn\n\nTopic: {{ $json.output }}\n\nCheck your social media accounts!",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        1712
      ],
      "id": "f7aa26b1-4492-4d20-a1ba-83d29869d9dc",
      "name": "Telegram Notification",
      "webhookId": "20f4cdbf-c83d-4173-b8dc-ec5abb137d16",
      "credentials": {
        "telegramApi": {
          "id": "JmZaF5jq1J2ztMvT",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/assets?action=registerUpload",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"registerUploadRequest\": {\n        \"recipes\": [\n            \"urn:li:digitalmediaRecipe:feedshare-image\"\n        ],\n        \"owner\": \"urn:li:person:{{ $json.sub }}\",\n        \"serviceRelationships\": [\n            {\n                \"relationshipType\": \"OWNER\",\n                \"identifier\": \"urn:li:userGeneratedContent\"\n            }\n        ]\n    }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1296,
        1296
      ],
      "id": "6446b137-876d-4728-97a3-dbf6f1ab02c8",
      "name": "Register Image Upload",
      "credentials": {
        "httpHeaderAuth": {
          "id": "e7KplyxSy5hrnqi0",
          "name": "linkedin11"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.value.uploadMechanism['com.linkedin.digitalmedia.uploading.MediaUploadHttpRequest'].uploadUrl }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1312,
        1552
      ],
      "id": "70bbe043-47c5-4a67-b614-0e8bc3171948",
      "name": "Upload Image File",
      "credentials": {
        "httpHeaderAuth": {
          "id": "e7KplyxSy5hrnqi0",
          "name": "linkedin11"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.linkedin.com/v2/ugcPosts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"author\": \"urn:li:person:{{ $('Get UserID5').item.json.sub }}\",\n  \"lifecycleState\": \"PUBLISHED\",\n  \"specificContent\": {\n    \"com.linkedin.ugc.ShareContent\": {\n      \"shareCommentary\": {\n        \"text\": \"{{ $('Social Media Content Generator').item.json.output.platform_posts.LinkedIn.image_suggestion }}\\n\\n{{ $('Social Media Content Generator').item.json.output.platform_posts.LinkedIn.post }}\\n\\n{{ $('Social Media Content Generator').item.json.output.platform_posts.LinkedIn.call_to_action }} {{ $('Content Form Trigger').item.json['Link (Optional)'] }}\\n{{ $('Social Media Content Generator').item.json.output.platform_posts.LinkedIn.hashtags }}\"\n      },\n      \"shareMediaCategory\": \"IMAGE\",\n      \"media\": [\n        {\n          \"status\": \"READY\",\n          \"description\": {\n            \"text\": \"Center stage!\"\n          },\n          \"media\": \"{{ $('Register Image Upload').item.json.value.asset }}\",\n          \"title\": {\n            \"text\": \"Image Post\"\n          }\n        }\n      ]\n    }\n  },\n  \"visibility\": {\n    \"com.linkedin.ugc.MemberNetworkVisibility\": \"PUBLIC\"\n  }\n}\n",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1216,
        1808
      ],
      "id": "30e8df2f-2765-407c-8c68-c93a20655fba",
      "name": "Linkedin Image Post",
      "credentials": {
        "httpHeaderAuth": {
          "id": "e7KplyxSy5hrnqi0",
          "name": "linkedin11"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('HTTP Request').item.json.secure_url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        1552
      ],
      "id": "97a6233c-8e7d-4d52-94f4-aa5d571f5dc9",
      "name": "Download Image"
    },
    {
      "parameters": {
        "url": "https://api.linkedin.com/v2/userinfo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        1296
      ],
      "id": "4eaaaabe-8daa-4057-ac84-8b0f1e809570",
      "name": "Get UserID5",
      "credentials": {
        "httpHeaderAuth": {
          "id": "e7KplyxSy5hrnqi0",
          "name": "linkedin11"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.imgbb.com/1/upload",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "2818a05dae584f8ba80c276451fb4a56"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        224,
        976
      ],
      "id": "e07752a4-5cef-4734-a831-4635e69dfbb6",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Parse the social media post results and generate a modern single line HTML table showing platform statuses. For each entry:\n\n-Extract platform name from the JSON key\n-Identify status (Success/Error) based on statusCode or error presence\n-Capture error message if present\n-Format as responsive HTML table with professional styling\n-Ensure email client compatibility with inline CSS\n-Include error handling for invalid JSON formats\n-Remove all line breaks and \\n from response.\n-Avoid any preamble or further explanation and remove all ``` and ```html from response.\n\n## Implementation Example:\nThis solution uses the parsed results from your workflow to generate:\n<table style=\"border-collapse: collapse; width: 100%; font-family: Arial, sans-serif; margin: 20px 0; background-color: #f9f9f9; border: 1px solid #ddd;\">\n    <thead>\n        <tr style=\"background-color: #007bff; color: #fff;\">\n            <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Platform</th>\n            <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Status</th>\n            <th style=\"border: 1px solid #ddd; padding: 12px; text-align: left;\">Details</th>\n        </tr>\n    </thead>\n    <tbody>\n        <tr style=\"background-color: #ffffff;\">\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Instagram</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #dc3545;\">✗ Error</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Unsupported post request. Object with ID '[your-unique-id]' does not exist, cannot be loaded due to missing permissions.</td>\n        </tr>\n        <tr style=\"background-color: #f8f9fa;\">\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">X (Twitter)</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #dc3545;\">✗ Error</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Unable to sign without access token</td>\n        </tr>\n        <tr style=\"background-color: #ffffff;\">\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Facebook</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #dc3545;\">✗ Error</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Unsupported post request. Object with ID '[your-unique-id]' does not exist, cannot be loaded due to missing permissions.</td>\n        </tr>\n        <tr style=\"background-color: #f8f9fa;\">\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">LinkedIn</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px; color: #dc3545;\">✗ Error</td>\n            <td style=\"border: 1px solid #ddd; padding: 12px;\">Unable to sign without access token</td>\n        </tr>\n    </tbody>\n</table>\n\n\nThis is the social media post results: \n{{ $json.data.toJsonString() }}\n",
        "options": {}
      },
      "id": "748e685b-f7ff-4e6f-8d7d-7d9220e2878a",
      "name": "Prepare Results Email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        96,
        1408
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "gpt-4.1-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        1584
      ],
      "id": "003fc119-1bb7-4d29-880c-ba55f256d509",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "gLyEnydogLZolRXX",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Parse the social media post results and generate a brief summary of the results.\n\nThis is the social media post results: \n{{ $json.data.toJsonString() }}\n\n## Example Response:\nThe social media post results indicate multiple errors when attempting to access or post content on various platforms. \n\n1. Instagram: The response shows a 400 status code with an error message indicating that the specific post request is unsupported due to missing permissions or an invalid object ID. \n\n2. X Post: Success\n\n3. Facebook: Success \n\n4. LinkedIn: Also returned an 'Unable to sign without access token' error. \n\nOverall, access token issues and unsupported requests are frequent problems across these social media platforms.\n",
        "options": {}
      },
      "id": "5df1fe07-01b2-4b3b-b43c-c50183a06188",
      "name": "Prepare Results Message",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        128,
        1712
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        144,
        1888
      ],
      "id": "aa4ff31d-c49d-48aa-8f8a-8f42d794fb90",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "gLyEnydogLZolRXX",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://graph.facebook.com/v23.0/17841475983476631/media",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "image_url",
              "value": "={{ $json.secure_url }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Social Media Content Generator').item.json.output.platform_posts.Instagram.image_suggestion }}\n\n{{ $('Social Media Content Generator').item.json.output.platform_posts.Instagram.caption }}\n\n{{ $('Social Media Content Generator').item.json.output.platform_posts.Instagram.call_to_action }}\n{{ $('Content Form Trigger').item.json['Link (Optional)'] || 'https://sterkweb.com' }}\n{{ $('Social Media Content Generator').item.json.output.platform_posts.Instagram.hashtags.join(' ') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1104,
        864
      ],
      "id": "5eed0c5d-eed0-42f2-83f4-25a27ff798b9",
      "name": "Create Instagram Media2",
      "credentials": {
        "facebookGraphApi": {
          "id": "WueQJtgndYW0ffds",
          "name": "client Facebook Graph"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/duutt6k9s/image/upload",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{ $json.data.url }}"
            },
            {
              "name": "upload_preset",
              "value": "cloudinary_image_n8b"
            },
            {
              "name": "folder",
              "value": "cloudinary_image_n8b"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        976
      ],
      "id": "6ed8db7c-8c61-4aeb-8bf7-cdd9443fe1fd",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "",
        "height": 736,
        "width": 1984,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        -32
      ],
      "typeVersion": 1,
      "id": "0646172d-2540-4bc4-8a19-426426d57f55",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Step 1️⃣: Agent to Create Text Content\n**Node Ai Agent:** This Agent will create Text content of Social media Posts ",
        "height": 560,
        "width": 448,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        112
      ],
      "typeVersion": 1,
      "id": "dcaf6e41-e2c1-45af-a862-93109b073b54",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Step 3️⃣: Agent to Create Review Email\n**Node Ai Agent:** This Agent will create a review email in provided HTML format. ",
        "height": 560,
        "width": 400,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        784,
        112
      ],
      "typeVersion": 1,
      "id": "edf1dbe6-c977-43f3-b4fb-6f985b66f0d5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Step 4️⃣: Send Approval Request\n**Node Gmail:** This will send you a review and approval email. I will proceed after your approval. ",
        "height": 384,
        "width": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1280,
        272
      ],
      "typeVersion": 1,
      "id": "75757228-9e19-4063-8aa7-662f2bb40eed",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "height": 464,
        "width": 1248,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        752
      ],
      "typeVersion": 1,
      "id": "7a5a4de3-d9cb-41b6-a4f1-846e3ae968ad",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Step 5️⃣: Generate Img & Store on cloud Platform\n**Nodes:** If Node for Approval Confirmation, ChatGPT Image Generate, HTTP Node (Uploadcare API).",
        "height": 384,
        "width": 1168,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        784
      ],
      "typeVersion": 1,
      "id": "6b41e5f1-c42b-405e-b1db-b05df86ffaf8",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "",
        "height": 1360,
        "width": 1024,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1024,
        736
      ],
      "typeVersion": 1,
      "id": "e3ebb657-e779-40df-bcb9-095a20da5b87",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Step 6️⃣: Publish to Social Media",
        "height": 1292,
        "width": 412,
        "color": 6
      },
      "id": "ce114e28-300a-4c3e-9a5f-4ce7413348bc",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 8️⃣: Share Final Results On Telegram & Email",
        "height": 856,
        "width": 1020,
        "color": 7
      },
      "id": "6b31b3f9-16e8-44da-ab8b-1001df1cd160",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -208,
        1280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 684,
        "width": 940,
        "color": 4
      },
      "id": "cf250cb8-6e6f-40e5-b3d6-61f51b4d76b5",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -176,
        1376
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Step 2️⃣: Agent to Create Image Prompt\n**Node Ai Agent:** This Agent will create a prompt for image generation. ",
        "height": 560,
        "width": 416,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        112
      ],
      "typeVersion": 1,
      "id": "41969a25-5ae1-4884-8f36-5058105cce33",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -1008,
        1328
      ],
      "id": "23965c8d-7f41-49dd-8e69-c33a82a22817",
      "name": "Telegram Trigger",
      "webhookId": "462d6843-022c-49da-a8c5-946e7d5fc509",
      "credentials": {
        "telegramApi": {
          "id": "JmZaF5jq1J2ztMvT",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Content Form Trigger": {
      "main": [
        [
          {
            "node": "Social Media Content Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Social Media Content Generator": {
      "main": [
        [
          {
            "node": "Image Prompt Creator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4": {
      "ai_languageModel": [
        [
          {
            "node": "Social Media Content Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "JSON Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Social Media Content Generator",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Creator": {
      "main": [
        [
          {
            "node": "Review Email Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI GPT-4 Mini": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompt Creator",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Review Email Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Review Email Generator": {
      "main": [
        [
          {
            "node": "Send Approval Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Approval Email": {
      "main": [
        [
          {
            "node": "Check Approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Approval": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publish Instagram Post": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Post to Facebook": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Results": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Prepare Results Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Prepare Results Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Register Image Upload": {
      "main": [
        [
          {
            "node": "Download Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image File": {
      "main": [
        [
          {
            "node": "Linkedin Image Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Linkedin Image Post": {
      "main": [
        [
          {
            "node": "Merge All Results",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Download Image": {
      "main": [
        [
          {
            "node": "Upload Image File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get UserID5": {
      "main": [
        [
          {
            "node": "Register Image Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Results Email": {
      "main": [
        [
          {
            "node": "Send Results Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prepare Results Email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Results Message": {
      "main": [
        [
          {
            "node": "Telegram Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Prepare Results Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Instagram Media2": {
      "main": [
        [
          {
            "node": "Publish Instagram Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create Instagram Media2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get UserID5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Post to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bdee1bc3-9e86-4215-8738-8ef41f6c8a6b",
  "meta": {
    "instanceId": "342afcd248cf962c4f69f0290cb52063e5fe4d3b861101b4b6fad622f21e98a4"
  },
  "id": "CBwnxhIt7ReFKa5J",
  "tags": []
}